.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff33;
    overflow: hidden;
    font-family: './assets/fonts/Montserrat-VariableFont_wght.ttf';
    margin: 0px;
    padding: 0px;
}

.title {
    color: #f5f5f5;
}