.overlay {
    background: rgba(0, 0, 0, 0.0);
    padding: 20px;
    color: white;
    width: 400px;
}

.previewContainer {
    margin-bottom: 20px;
}

.materialsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 15px 0;
}

.materialItem {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.materialItem:hover {
    background: rgba(255, 255, 255, 0.1);
}

.materialItem.selected {
    background: rgba(255, 255, 255, 0.2);
}

.colorPreview {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.confirmButton {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: opacity 0.3s;
}

.confirmButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.questionContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.question {
    font-size: 1.2rem;
    font-family: 'NeoCode';
}

.optionsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.optionButton {
    padding: 1rem;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.textArea {
    width: 100%;
    min-height: 100px;
    padding: 0.5rem;
    background: transparent;
    backdrop-filter: blur(10px);
    color: black;
    font-size: 1.2rem;
    outline: none;
    border: 0.1px solid #f2f2f3;
    resize: none;
    font-family: 'NeoCode';
}

.nextButton {
    padding: 0.5rem 1rem;
    color: ivory;
    background: #426363;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    font-family: 'NeoCode';
}

.chooseButton {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 1.2rem;
    background: #3c7475;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.chooseButton:hover {
    transform: translate(-50%, -50%) scale(1.05);
} 